.separator{
    height: 70px;
}

.profile{
    position: relative;
    height: 270px;
    background-color: #9e91ff;
}

.dropdown-toggle{
    position: absolute;
    right: 10px;
    bottom: 30px;
    background-color: transparent;
    border: 1px;

    &:hover{
        background-color: #b9b0fa;
    }
    &:active{
        background-color: #b9b0fa !important;
    }
    &:focus{
        background-color: #b9b0fa;
    }
}

.img-fluid{
    position: absolute;
    height: 140px;
    width: 140px;
    bottom: 50px;
    left: 70px;
    overflow: hidden;
    z-index: 0;
    border-radius: 100%;
    margin: 0 auto;
}

.col-lg-7{
    position: relative;
    background-color: transparent;
}
.col-md-10{
    position: relative;
    right: 104px;
    top: 1px;background-color: transparent;
    margin-top: 10px;
}

.nav-fill{
    height: 60px;
    align-content: center;
}

.li_container > a{
    text-decoration: none;
    color: #9e91ff;
}

.username{
    position: absolute;
    left: 250px;
    bottom: 50px;
    color: white;
    font-size: xx-large;
}