{% extends 'adm_base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/adm_panel/inventory.css') }}" rel="stylesheet" type="text/css">

<div class="sub-container">
    <div class="inventory-container">
        <div class="inventory-header">
            <h1>Productos</h1>
            <div class="filter-container">
                <select id="status-filter" class="filter-select">
                    <option value="all">Todos</option>
                    <option value="available">Disponible</option>
                    <option value="out_of_stock">Agotado</option>
                </select>
                <input type="text" id="search-bar" class="search-bar" placeholder="Buscar por nombre...">
            </div>
        </div>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>SKU</th>
                    <th>Inventario</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in inventory %}
                <tr class="inventory-item" data-status="{{ 'available' if product.product_stock else 'Agotado' }}">
                    <td>
                        <img class="prod_img" src="{{ url_for('static', filename='products/' + product.product.category + '/' + product.product.main_picture) }}"
                        alt="{{ product.product.name }}" width="70">
                    </td>
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.product.sku }}</td>
                    <td>{{ product.product_stock.value }}</td>
                    <td>
                        <div class="options-container">
                            <button class="options-button">•••</button>
                            <div class="options-menu">
                                <a href="{{ url_for('panel.update_product', product_id=product.product.id) }}">Actualizar</a>
                                <a href="#">Permitir en tienda</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // inventory.js
    document.addEventListener('DOMContentLoaded', function () {
        const statusFilter = document.getElementById('status-filter');
        const searchBar = document.getElementById('search-bar');

        statusFilter.addEventListener('change', filterInventory);
        searchBar.addEventListener('input', filterInventory);

        function filterInventory() {
            const status = statusFilter.value;
            const searchQuery = searchBar.value.toLowerCase();
            const items = document.querySelectorAll('.inventory-item');

            items.forEach(item => {
                const itemName = item.querySelector('td:nth-child(1)').textContent.toLowerCase();
                const itemStatus = item.dataset.status;

                if ((status === 'all' || status === itemStatus) && itemName.includes(searchQuery)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    });

    const buttons = document.querySelectorAll('.options-button');
        buttons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.stopPropagation();
                const menu = button.nextElementSibling;
                menu.classList.toggle('show');
            });
        });

        document.addEventListener('click', function () {
            const menus = document.querySelectorAll('.options-menu');
            menus.forEach(menu => {
                menu.classList.remove('show');
            });
        });
</script>
{% endblock %}