{% extends 'users/account/account_base.html' %}
{% block content %}
{{ super() }}
{% endblock %}

{% block profile %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users/my_account.css') }}">
<div class="tab-content">
    <div class="tab-pane active" id="profile-info">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-field first_name-field", placeholder=g.user.first_name) }}
                {% for error in form.first_name.errors %}
                <span style="color: red"> {{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-field last_name-field", placeholder=g.user.last_name) }}
                {% for error in form.last_name.errors %}
                <span style="color: red"> {{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-field email-field", placeholder=g.user.email) }}
                {% for error in form.email.errors %}
                <span style="color: red"> {{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.phone_number.label(class="form-label") }}
                {{ form.phone_number(class="form-field phone_number-field", placeholder=g.user.phone_number)
                }}
                {% for error in form.phone_number.errors %}
                <span style="color: red"> {{ error }}</span>
                {% endfor %}
            </div>
            <!-- {{ form.csrf_token }} -->
                {{ form.hidden_tag() }}
                {{ form.submit(class="btn form-field submit-field", type="submit")}}
        </form>
    </div>
</div>

{% endblock %}
