{% extends 'users/account/account_base.html' %}
{% block content %}
{{ super() }}
{% endblock %}

{% block address %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users/my_addresses.css') }}">

<button id="openModalBtn" class="btn btn-primary">Agregar Dirección</button>

<!-- Modal Structure -->
<div id="modalBackground" class="modal-background"></div>
<div id="addAddressModal" class="modal">
    <div class="modal-title">
        <h2>Agregar Nueva Dirección</h2>
        <span class="close">&times;</span>
    </div>
    <div class="modal-content">
        <form class="form-container" action="#" method="POST">
            {{ address_form.hidden_tag() }}
            <div class="form-group first-name-form">
                {{ address_form.first_name.label(class="form-label") }}
                {{ address_form.first_name(class="form-control") }}
            </div>
            <div class="form-group last-name-form">
                {{ address_form.last_name.label(class="form-label") }}
                {{ address_form.last_name(class="form-control") }}
            </div>
            <div class="form-group company-name-form">
                {{ address_form.company_name.label(class="form-label") }}
                {{ address_form.company_name(class="form-control") }}
            </div>
            <div class="form-group address-form">
                {{ address_form.address.label(class="form-label") }}
                {{ address_form.address(class="form-control") }}
            </div>
            <div class="form-group address-detail-form">
                {{ address_form.address_detail.label(class="form-label") }}
                {{ address_form.address_detail(class="form-control") }}
            </div>
            <div class="form-group city-form">
                {{ address_form.city.label(class="form-label") }}
                {{ address_form.city(class="form-control") }}
            </div>
            <div class="form-group country-form">
                {{ address_form.country.label(class="form-label") }}
                {{ address_form.country(class="form-control") }}
            </div>
            <div class="form-group region-form">
                {{ address_form.country_region.label(class="form-label") }}
                {{ address_form.country_region(class="form-control") }}
            </div>
            <div class="form-group postal-code-form">
                {{ address_form.postal_code.label(class="form-label") }}
                {{ address_form.postal_code(class="form-control") }}
            </div>
            <div class="form-group phone-number-form">
                {{ address_form.phone_number.label(class="form-label") }}
                {{ address_form.phone_number(class="form-control") }}
            </div>
            <div class="form-group submit-field-form">
                {{ address_form.submit(class="btn form-field submit-field-form", type="submit") }}
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById("addAddressModal");
            var modalBackground = document.getElementById("modalBackground");
            var btn = document.getElementById("openModalBtn");
            var span = document.getElementsByClassName("close")[0];

            // Función para cerrar el modal
            function closeModal() {
                modal.style.display = "none";
                modalBackground.style.display = "none";
            }

            btn.onclick = function () {
                modal.style.display = "block";
                modalBackground.style.display = "block";
            }

            span.onclick = function () {
                closeModal();
            }

            window.onclick = function (event) {
                if (event.target == modalBackground) {
                    closeModal();
                }
            }

            document.addEventListener('keydown', function (event) {
                if (event.key === "Escape") {
                    closeModal();
                }
            });
        });
</script>

{% endblock %}