{% extends 'base.html' %}

{% block content %}
<h1>Registrar producto</h1>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="dol-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{% block title %} Registrar producto {% endblock %}</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            {{ form.name.label }}
                            {{ form.name(class="form-control", style="border: 0; border-bottom: 2px solid #CEC8FF; border-radius: 0;") }}
                            {% for error in form.name.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                            <!-- <label for="name">Nombre del producto</label>
                            <input type="text" class="form-control" id="name" name="name" required> -->
                        </div>
                        <div class="form-group">
                            {{ form.category.label }}
                            {{ form.category(class="form-control", style="border: 0; border-bottom: 2px solid #CEC8FF; border-radius: 0;") }}
                            {% for error in form.category.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                            <!-- <label for="price">precio del producto</label>
                                                    <input type="text" class="form-control" id="price" name="price" required> -->
                        </div>
                        <div class="form-group">
                            {{ form.price.label }}
                            {{ form.price(class="form-control", style="border: 0; border-bottom: 2px solid #CEC8FF; border-radius: 0;") }}
                            {% for error in form.price.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                            <!-- <label for="price">precio del producto</label>
                            <input type="text" class="form-control" id="price" name="price" required> -->
                        </div>
                        <div class="form-group">
                            {{ form.product_stock.label }}
                            {{ form.product_stock(class="form-control", style="border: 0; border-bottom: 2px solid #CEC8FF; border-radius: 0;") }}
                            {% for error in form.product_stock.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.sku.label }}
                            {{ form.sku(class="form-control", style="border: 0; border-bottom: 2px solid #CEC8FF; border-radius: 0;")
                            }}
                            {% for error in form.sku.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.main_picture.label }}
                            {{ form.main_picture(class="form-control", style="border: 0; border-bottom: 2px solid #CEC8FF; border-radius: 0;") }}
                            {% for error in form.main_picture.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                        </div>
                        <div id="preview-container"></div>
                        <br>
                        <div class="text-center">
                            {{ form.hidden_tag() }}
                            {{ form.submit(class="btn", type="submit", style="margin: 0 auto; width: 200px; border-radius: 1px;
                            border-color: #9e91ff; background-color: #9e91ff; color: white") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('main_picture').addEventListener('change', function (event) {
        var previewContainer = document.getElementById('preview-container');
        previewContainer.innerHTML = '';  // Clear the current previews

        var files = event.target.files;
        if (files) {
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                if (file.type.startsWith('image/')) {
                    var reader = new FileReader();

                    reader.onload = (function (file) {
                        return function (e) {
                            var imgElement = document.createElement('img');
                            imgElement.src = e.target.result;
                            imgElement.style.maxWidth = '150px';
                            imgElement.style.margin = '10px';
                            previewContainer.appendChild(imgElement);
                        };
                    })(file);

                    reader.readAsDataURL(file);
                }
            }
        }
    });
</script>
{% endblock %}