{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='css/store/store.css')}}" type="text/css" rel="stylesheet">
<div class="front_label">
    <span>TODOS LOS PRODUCTOS</span>
</div>

<section>
    <div class="products_section">
        <div class="filters_column">

            {% for category in categories %}
            <label><input type="checkbox" id="{{ category }}"><span>{{ category }}</span></label>
            {% endfor %}
        </div>
        <div class="content">
            {% for product in products %}
            <div class="product_container">
                <div class="img_container">
                    <img class="product_img" src="{{ url_for('static', filename=product.category + '/' + product.main_picture) }}"
                        alt="Descripción de la imagen">
                </div>
                <div class="product_description">
                    <h4 class="name">{{ product.name }}</h4>
                    <span class="price">{{ product.price }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        <div class="pagination_buttons">
            <div class="left_page">
                {% if products.has_prev %}
                <a href="{{ url_for('products.get_all', page=products.prev_num) }}"><button>Página anterior</button></a>
                {% endif %}
            </div>
            <div class="right_page">
                {% if products.has_next %}
                <a href="{{ url_for('products.get_all', page=products.next_num) }}"><button>Página siguiente</button></a>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('.filters_column input[type="checkbox"]');

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const selectedFilters = [];
                    checkboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            selectedFilters.push(checkbox.id);
                        }
                    });

                    const url = "{{ url_for('products.get_all') }}";
                    const params = new URLSearchParams();
                    selectedFilters.forEach(filter => {
                        params.append('filter', filter);
                    });

                    // Construye la URL con los parámetros de la consulta
                    const queryString = params.toString();
                    const fullUrl = queryString ? url + '?' + queryString : url;

                    // Redirige a la nueva URL
                    window.location.href = fullUrl;
                });
            });
        });
    </script>
</section>
{% endblock %}
